<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">

	<div class="container">
		<h1>Pokésir</h1>

		<!-- Search -->
		<div ng-controller="PokemonList">

            <input type="text" ng-model="test">

            <select ng-model="id">
                <option ng-repeat="x in names | filter : test">{{ x }}</option>
            </select>

            <button type="button" class="btn btn-primary" ng-click="go(id)">Go</button>

            <p>Vous avez choisi : {{ id }}</p>

<!--            <ul>
                <li ng-repeat="x in names | filter: test"> {{ x }}</li>
            </ul>-->
            <p>Info pokemon</p>
            <ul>
                <li ng-repeat="(key, val) in info">
                    {{ key }} : {{ val }}
                </li>
            </ul>

        </div>

        <div ng-controller="PokemonInfos">

        </div>

		<!-- Pokémon information -->
		<div></div>

	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
